:root {
	--color-primary: 167, 70, 245;
	--color-background: 255, 255, 255;
	--color-gray: 123, 123, 123;
	--color-search: #f4f4f4;
	--color-font: black;
}


html[data-theme='dark'] {
	--color-primary: 167, 70, 245;
	--color-background: 0, 0, 0;
	--color-gray: 180, 180, 180;
	--color-search: #222222;
	--color-font: white;
}


html,
input,
a,
button {
	color: var(--color-font);
}

body {
	margin: 0px;
	padding: 0px;
	background-color: rgb(var(--color-background));
	font-size: clamp(1rem, 1.5vw, 1.2rem);
	font-family: 'Courier New', Courier, monospace;

}

.text-gray {
	color: rgb(var(--color-gray));
}

.text-primary {
	color: rgb(var(--color-primary));
}

.pointer {
	cursor: pointer;
}